<!-- @include('../partials/components/main-nav.html') -->

<nav class="main-nav @classMode">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        Investments
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        How it works
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        <img src="img/sprite/tg.svg" alt="Support">
        Support
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        FAQ
      </a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">
        Referrals
      </a>
    </li>
    <li class="main-nav__item">
      <span class="main-nav__link">
        Contract
      </span>
    </li>

  </ul>
</nav>
