.how-section{
    position: relative;

    &::before{
        position: absolute;
        content: "";
        pointer-events: none;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: -1;
        transform: scaleY(-1);
        background-image: url(/img/icons/img4.png);
        width: 100px;
        height: 190px;
        right: -20px;
        top: 20%;

        @include laptop{
            display: none;
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 50px;
    }
}