.index-first{
    padding: 69px 0 clamp(80px, 9.455vw, 104px);
    margin-bottom: 60px;

    position: relative;

    &::before{
        position: absolute;
        content: "";
        pointer-events: none;
        background-image: url(/img/first-bg.png);
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
       
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: (1600px)) {
            background-position: 50% 75%;
          }
    }


    @include small-tablet{
        margin: 0;

        &::before{
            position: absolute;
            content: "";
            pointer-events: none;
            background-image: url(/img/icons/img5.png);
            width: 130px;
            height: 70px;
            transform: scaleX(-1) translateX(-45%) rotate(90deg);
            right: 0;
            left: initial;
            bottom: 55%;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:after{
            position: absolute;
            content: "";
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(/img/icons/img10.png);
            width: 50px;
            height: 100px;
            left: 0;
            transform: scaleX(-1);
            top: 2%;
        }
    }
    
    &__image{
        position: absolute;
        width: 100%;
        max-width: 1920px;
        min-width: 1460px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;

        img,picture{
            width: 100%;
            height: auto;
            display: block;
        }

        @include small-tablet{
            display: none;
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 115px;
        align-items: center;

        &:before,&::after{
            position: absolute;
            content: "";
            background-image: url(/img/icons/coin1.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            width: 182px;
            height: 391px;
            pointer-events: none;
            @include tablet{
                width: 130px;
            }
            @include small-tablet{
                display: none;
            }
        }

        &::before{
            right: 10px;
        }

        &:after{
            transform: scaleX(-1);
            left: 10px;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: clamp(5px, 0.909vw, 10px);
       

        @include mobile{
            p{
                max-width: 330px;
            }
        }
    }

    &__inner{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: clamp(10px, 2.727vw, 30px);
        justify-items: center;
        padding-top: 16px;

        .main-scroll{
            grid-column: span 2;
            @include mobile{
                display: none;
            }
        }

        @include mobile{
            grid-template-columns: 100%;
            width: 100%;
            .main-button{
                width: 100%;
            }
        }
    }
}