.investment-section{
    margin-bottom: 60px;

    @include small-tablet{
        margin-bottom: 80px;
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 60px;
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap:40px;
    }   

    &__content{
        display: flex;
        flex-direction: column;
        grid-gap: 40px;

        @include mobile{
            grid-gap: 50px;
        }
    }

}