.modal{
    max-width: 741px;
    overflow: hidden;
    &__box{
        
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        border-radius: 22px;
        overflow: hidden;
        @include modal-border(linear-gradient(99.48deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 1px);
       
    }

    &__top{
        padding-top: clamp(20px, 2.727vw, 30px);
        background: rgba(var(--bg-a),0.3);
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-gap: clamp(16px, 2.364vw, 26px);
        position: relative;
        
        &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 40px;
            bottom: -40px;
            left: 0;
            background: rgba(var(--bg-a),0.3);
        }

        &-img{
            position: absolute;
            top: 0;
            right: 0;

            img,picture{
                width: 100%;
                height: auto;
            }
            
            @include mobile{
                width: 11%;
                top: 15px;
            }

            &--left{
                right: initial;
                left: 13%;

                @include mobile{
                    top: 0;
                    width: 20%;
                    left: 10%;
                }
    
            }
        }
       
    }

    &__swiper{
        width: 100%;
        transform: rotate(-1deg);
        display: inline;
        @include mobile{
            .main-swiper__slide{
                width: 45px;
            }
        .main-swiper__icon{
          
                svg{
                width: 45px;
                height: 10px;
           
           }
        }
        }
    }

    &__close{
        position: absolute;
         top: 24px;
         left: 24px;

        @include small-tablet{
            left: 14px;
            top: 14px;
        }
    }
}