<footer>
  <div class="container">
    <div class="footer-box">
      @include('../partials/components/header-logo.html',{
        'ClassName':'header__logo',
        'Link':'index.html',
        'IconName':'logo',
        'IconWidth':'138',
        'IconHeight':'31'
      })


      <div class="footer-box__inner">
        @include('../partials/components/main-nav.html',
        {'classMode':'footer-box__nav'})
      </div>

      <div class="footer-box__content">

        @include('../partials/components/burger.html',{'classMode':''})

        <button class="wallet-button">
          <svg width='27' height='23'>
            <use href='img/sprite/sprite.svg#icon1'></use>
          </svg>
          <span class="wallet-button__text">
            Connect Wallet
          </span>
        </button>

        <button class="country-button">
          <picture>
            <source type='image/webp' srcset='img/nav-icon/country.webp'>
            <img width='28' height='28' src='img/nav-icon/country.png' alt='image'>
          </picture>
        </button>
      </div>
    </div>
  </div>

</footer>

<div class="overlay" data-overlay>

  <div class="modal" data-popup="withdrawls">
    <div class="modal__box" role="dialog" aria-modal="true">
     
      <div class="modal__top">
        <button class="close modal__close" aria-label="Закрыть модальное окно">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
        
        <button class="modal-button">
          <svg width='36' height='36'>
            <use href='img/sprite/sprite.svg#upload'></use>
          </svg>
          Withdrawals
        </button>

        <div class='modal__swiper main-swiper'>
          <div class='main-swiper__container swiper-container'>
            <ul class='main-swiper__wrapper swiper-wrapper'>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
              <li class='main-swiper__slide swiper-slide'>
                <span class="main-swiper__icon">
                  <svg width='79' height='16'>
                    <use href='img/sprite/sprite.svg#slide1'></use>
                  </svg>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="modal-list">
        <li class="modal-list__item">
          <ul class="modal-sublist">
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Type:</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Date:</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Amount:</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Status:</span>
            </li>
          </ul>
        </li>
        <li class="modal-list__item">
          <ul class="modal-sublist--mode  modal-sublist">
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Deposit</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">12.08.2021 11:24</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__amount">
                <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
                389.02 Matic
              </span>
            </li>
            <li class="modal-sublist__item">
              <button class="status-btn">
                <svg width='18' height='18'>
                  <use href='img/sprite/sprite.svg#icon6'></use>
                </svg>
                Complete
              </button>
            </li>
          </ul>
        </li>
        <li class="modal-list__item">
          <ul class="modal-sublist">
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Withdraw</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">12.08.2021 11:24</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__amount">
                <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
                389.02 Matic
              </span>
            </li>
            <li class="modal-sublist__item">
              <button class="status-btn--cancel status-btn">
                <svg width='18' height='18'>
                  <use href='img/sprite/sprite.svg#close2'></use>
                </svg>
                Cancel
              </button>
            </li>
          </ul>
        </li>
        <li class="modal-list__item">
          <ul class="modal-sublist--mode  modal-sublist">
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Deposit</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">12.08.2021 11:24</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__amount">
                <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
                389.02 Matic
              </span>
            </li>
            <li class="modal-sublist__item">
              <button class="status-btn">
                <svg width='18' height='18'>
                  <use href='img/sprite/sprite.svg#icon6'></use>
                </svg>
                Complete
              </button>
            </li>
          </ul>
        </li>
        <li class="modal-list__item">
          <ul class="modal-sublist">
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Withdraw</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">12.08.2021 11:24</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__amount">
                <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
                389.02 Matic
              </span>
            </li>
            <li class="modal-sublist__item">
              <button class="status-btn--cancel status-btn">
                <svg width='18' height='18'>
                  <use href='img/sprite/sprite.svg#close2'></use>
                </svg>
                Cancel
              </button>
            </li>
          </ul>
        </li>
        <li class="modal-list__item">
          <ul class="modal-sublist--mode  modal-sublist">
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">Deposit</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__name">12.08.2021 11:24</span>
            </li>
            <li class="modal-sublist__item">
              <span class="modal-sublist__amount">
                <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
                389.02 Matic
              </span>
            </li>
            <li class="modal-sublist__item">
              <button class="status-btn">
                <svg width='18' height='18'>
                  <use href='img/sprite/sprite.svg#icon6'></use>
                </svg>
                Complete
              </button>
            </li>
          </ul>
        </li>
        
      </ul>

    </div>
</div>

<div class="modal" data-popup="rewards"> 
  <div class="modal__box" role="dialog" aria-modal="true">
   
    <div class="modal__top">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      
      <button class="modal-button">
        <svg width='36' height='36'>
          <use href='img/sprite/sprite.svg#icon11'></use>
        </svg>
        referral rewards
      </button>

      <div class='modal__swiper main-swiper'>
        <div class='main-swiper__container swiper-container'>
          <ul class='main-swiper__wrapper swiper-wrapper'>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="modal-list">
      <li class="modal-list__item">
        <ul class="modal-sublist">
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Type:</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">User:</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Amount:</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Status:</span>
          </li>
        </ul>
      </li>
      <li class="modal-list__item">
        <ul class="modal-sublist--mode  modal-sublist">
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Deposit</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__user">TLJst.....CHKf</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__amount">
              <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
              389.02 Matic
            </span>
          </li>
          <li class="modal-sublist__item">
            <button class="status-btn">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#icon6'></use>
              </svg>
              Complete
            </button>
          </li>
        </ul>
      </li>
      <li class="modal-list__item">
        <ul class="modal-sublist">
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Withdraw</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__user">TLJst.....CHKf</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__amount">
              <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
              389.02 Matic
            </span>
          </li>
          <li class="modal-sublist__item">
            <button class="status-btn--cancel status-btn">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#close2'></use>
              </svg>
              Cancel
            </button>
          </li>
        </ul>
      </li>
      <li class="modal-list__item">
        <ul class="modal-sublist--mode  modal-sublist">
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Deposit</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__user">TLJst.....CHKf</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__amount">
              <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
              389.02 Matic
            </span>
          </li>
          <li class="modal-sublist__item">
            <button class="status-btn">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#icon6'></use>
              </svg>
              Complete
            </button>
          </li>
        </ul>
      </li>
      <li class="modal-list__item">
        <ul class="modal-sublist">
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Withdraw</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__user">TLJst.....CHKf</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__amount">
              <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
              389.02 Matic
            </span>
          </li>
          <li class="modal-sublist__item">
            <button class="status-btn--cancel status-btn">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#close2'></use>
              </svg>
              Cancel
            </button>
          </li>
        </ul>
      </li>
      <li class="modal-list__item">
        <ul class="modal-sublist--mode  modal-sublist">
          <li class="modal-sublist__item">
            <span class="modal-sublist__name">Deposit</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__user">TLJst.....CHKf</span>
          </li>
          <li class="modal-sublist__item">
            <span class="modal-sublist__amount">
              <img src="img/sprite/icon7.svg" alt="image" width="18" height="18">
              389.02 Matic
            </span>
          </li>
          <li class="modal-sublist__item">
            <button class="status-btn">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#icon6'></use>
              </svg>
              Complete
            </button>
          </li>
        </ul>
      </li>
      
    </ul>

  </div>
</div>

<div class="modal" data-popup="time"> 
  <div class="modal__box" role="dialog" aria-modal="true">
   
    <div class="modal__top">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      
      <button class="modal-button">
        <svg width='36' height='36'>
          <use href='img/sprite/sprite.svg#icon12'></use>
        </svg>
        Time pool
      </button>

      <div class='modal__swiper main-swiper'>
        <div class='main-swiper__container swiper-container'>
          <ul class='main-swiper__wrapper swiper-wrapper'>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
            <li class='main-swiper__slide swiper-slide'>
              <span class="main-swiper__icon">
                <svg width='79' height='16'>
                  <use href='img/sprite/sprite.svg#slide1'></use>
                </svg>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

   <div class="modal-time">
       <p class="modal-time__top">If thete are no purchases of miners in the  amount of $1 or more within an hour after you, then the entire miners amount will automaticakky be credited be credited to your account. 3% of each purchase of INVERTEX Miners if transferred to TIME POOL.</p>
        <div class="modal-time__inner card-top--violet card-top">
          <span class="modal-time__coin">
            <img src="../img/icons/coin2.png" alt="coin">
          </span>
          <div class="modal-time__money">903.55 USD</div>
          <div class="modal-time__content" data-countdown>
            <div class="modal-time__countdown" data-tiles></div>
          </div>
          <div class="modal-time__bottom">
            <span class="modal-time__purchase">Last purchase was by:</span>
            <span class="modal-time__purchase">RosyFinance - <span class="modal-time__purchase-value">109.39 USD</span></span>
          </div>

        </div>
  </div>

  </div>
</div>
</div>
