<footer>
  <div class="container">
    <div class="footer-box">
      @include('../partials/components/header-logo.html',{
      'ClassName':'header__logo',
      'Link':'index.html',
      'IconName':'logo',
      'IconWidth':'138',
      'IconHeight':'31'
      })


      <div class="footer-box__inner">
        @include('../partials/components/main-nav.html',
        {'classMode':'footer-box__nav'})
      </div>

      <div class="footer-box__content">

        @include('../partials/components/burger.html',{'classMode':''})

        <button class="wallet-button">
          <svg width='27' height='23'>
            <use href='img/sprite/sprite.svg#icon1'></use>
          </svg>
          <span class="wallet-button__text">
            Connect Wallet
          </span>
        </button>

        <a class="country-button">
          <picture>
            <source type='image/webp' srcset='img/nav-icon/country.webp'>
            <img width='28' height='28' src='img/nav-icon/country.png' alt='image'>
          </picture>
        </a>
      </div>
    </div>
  </div>

</footer>

@include('../partials/modals.html')

