<header class="header">
  <div class="container">
    <div class="header-box">
        @include('../partials/components/header-logo.html',{
          'ClassName':'header__logo',
          'Link':'index.html',
          'IconName':'logo',
          'IconWidth':'138',
          'IconHeight':'31'
        })


        <div class="header-box__inner">
          @include('../partials/components/main-nav.html',
          {'classMode':'header-box__nav'})
        </div>

        <div class="header-box__content">
          <button class="wallet-button">
            <svg width='27' height='23'>
              <use href='img/sprite/sprite.svg#icon1'></use>
            </svg>
            <span>
              Connect Wallet
            </span>
          </button>
  
          <button class="country-button">
            <picture>
              <source type='image/webp' srcset='img/nav-icon/country.webp'>
              <img width='28' height='28' src='img/nav-icon/country.png alt='image'>
            </picture>
          </button>
        </div>
        

        @include('../partials/components/burger.html',{'classMode':''})



    </div>
  </div>
</header>
