<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="img/favicon.svg" type="image/svg">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2Xmatik</title>

    <link rel="preload" href="fonts/Inter-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Inter-SemiBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Inter-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Inter-Black.woff" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/Raleway-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-SemiBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-Bold.woff" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
