.investments-cards{
    display: grid;
    align-items: flex-start;
    grid-gap: clamp(10px, 1.818vw, 20px);
    grid-template-columns: repeat(4, 1fr);
    
    @include laptop{
        grid-template-columns: repeat(2, auto);
        grid-gap: clamp(10px, 4.545vw, 50px);
    }

    @include mobile{
        grid-template-columns: 100%;
        grid-gap: 30px;
       
    }

   
 
}