.invest-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 8px;
    padding: clamp(20px, 2.091vw, 23px) 24px;
    background: rgba(var(--bg-a),1.0);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    height: 100%;

    &__name{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: clamp(14px, 1.455vw, 16px);
        line-height: 120%;
        color: rgba(var(--cl-e),1.0);
    }

    &__value{
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 600;
        font-size: clamp(16px, 1.636vw, 18px);
        line-height: 120%;
        color: rgba(var(--cl-c),1.0);
        max-width: 180px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        @include mobile{
            transform: translateY(-47%);
            img,picture{
                width: 90px;
            }
        }
        
        &--mode{
            width: 80px;
            transform: translate(34%, -50%);
            img, picture{
                width: 100%;
                display: block;
            }
            @include mobile{
                width: 111px;
                transform: translate(24%,-55%);
            }
        }

        &--small{
            @include mobile{
                img,picture{
                    width: 70px;
                }
            }
        }
    }

    &__amount{

        --icon-margin:34px;

        color: rgba(var(--cl-f),1.0);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(16px, 1.636vw, 18px);
        line-height: 120%;
        display: flex;
        align-items: center;
        grid-gap: 4px;
        padding: 7px 14px;
        width: fit-content;
        background: rgba(var(--bg-l),1.0);
        border-radius: 126px;
        margin-left: var(--icon-margin);
        position: relative; 



        &:before{
            position: absolute;
            content: "";
            width: 23px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1-4v21.7C1 20 2.3 22 4 22h15' stroke='%23E0E2E7' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            left: calc(var(--icon-margin) * -1);
            top: 0;
        }

        &--orange{
            color: rgba(var(--cl-g),1.0);
            background: rgba(var(--bg-i),1.0);
        }

        svg{
            fill: currentColor;
        }
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 4px;
        background: rgba(var(--bg-d),1.0);
        border-radius: 12px;
        padding: 15px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120% ;
        color: rgba(var(--cl-a),1.0);
        transition:  all .4s;

        svg{
            fill: currentColor;
            transition: transparent;
        }
        &:hover{
            box-shadow: 0px 6px 10px rgba(131, 74, 252, 0.25);
          }
    }

    &--mode{
        padding: clamp(13px, 2.091vw, 23px) clamp(12px, 2.182vw, 24px) 14px;

        @include small-tablet{
            padding:clamp(20px, 2.091vw, 23px) 24px;
        }
    }
}