.main-top {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(6px, 1vw, 11px);
  align-items: center;

  p{
    max-width: 730px;
    text-align: center;

    @include tablet{
      max-width: 550px;
    }

    @include mobile{
      max-width: 310px;
    }
  }
}
