.main-top {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(6px, 1vw, 11px);
  align-items: center;
  position: relative;

  &::after{
    position: absolute;
    content: '';
    width: clamp(75px, 7.091vw, 78px);
    height: clamp(54px, 6.364vw, 70px);
    background-image: url(/img/icons/img2.png);
    top: -50px;
    left: -43px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include laptop{
        left: -27px;
    }

    @include tablet{
      transform: translate(-20%,-50%);
    }
}

  p{
    max-width: 730px;
    text-align: center;

    @include tablet{
      max-width: 550px;
    }

  }
}
