.main-switch{

    display: flex;
    align-items: center;
    grid-gap: 10px;
    justify-content: flex-end;

    @include mobile{
        justify-content: center;
    }

    &__item{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: rgba(var(--cl-e),1.0);

        @include small-tablet{
            font-size: 14px;
        }
    }
}