.modal-list{
    z-index: 2;
    background: rgba(var(--bg-a),1.0);
    border-radius: 22px;
    padding: clamp(20px, 3.636vw, 40px) clamp(14px, 1.818vw, 20px) 60px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    @include small-tablet{
        border-radius: 12px;
    }
}