.wallet-button {
  color: rgba(var(--cl-c),1.0);
  min-width: 210px;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  transition: all .4s;
  
  background: rgba(var(--bg-a),1.0);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  border-radius: 22px;
  &:hover{
    background: rgba(var(--bg-k),1.0);
  }
  &__text{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;

    @include tablet{
      display: none;
    }
  }

  @include tablet{
    min-width: 44px;
    min-height: 40px;
    border-radius: 12px;
  }

  &--mobile{
    min-width: 192px;
    min-height: 42px;
    border-radius: 12px;

    *{
      display: flex;
    }
  }
}

.main-button {
  min-width: 210px;
  min-height: 65px;
  color: rgba(var(--cl-a),1.0);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
 
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  background-color: rgba(var(--bg-d),1.0);
  transition: all .4s;

  @include mobile{
    border-radius: 12px;
    min-width: initial;
  }

  &--transparent {
    background-color: transparent;
    color: rgba(var(--cl-b),1.0);
    border: 1px solid var(--br-a);

    &:hover{
      background-color: rgba(var(--bg-d),1.0);
      color: rgba(var(--cl-a),1.0);
    }
  }

  &--mode{
    border-radius: 12px;
    min-height: 55px;
  }
  
  svg{
    fill: currentColor;
  }

  &:hover{
    box-shadow: 0px 6px 10px rgba(131, 74, 252, 0.25);
  }
}

.main-label{
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color:  rgba(var(--cl-a),1.0);
  background-color: rgba(var(--bg-d),1.0);
  border-radius: 22px;
  padding: 8px 20px;
}

p{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color:  rgba(var(--cl-e),1.0);

  @include mobile{
    text-align: center;
  }
}

.country-button{
  display: flex;
  align-items: center;
  justify-content: center;

  img, picture{
    width: 100%;
    display: block;
  }
}

.main-title{
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(26px, 4.545vw, 50px);
  line-height: 115%;
  text-align: center;
  text-transform: uppercase;
  color:  rgba(var(--cl-b),1.0);
  max-width: 700px;
}

.pre-title{
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(26px, 3.636vw, 40px);
  line-height: 120%;
  text-transform: uppercase;
  color:  rgba(var(--cl-b),1.0);

  @include tablet{
    text-align: center;
  }
}

.main-scroll{
  display: flex;
  align-items: center;
  grid-gap: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-c),0.4);
  
  svg {
    fill: currentColor;
    transition: inherit;
  }
}

.card-top{
  &:before{
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    width: calc(100% - 66px);
    height: 50px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    pointer-events: none;
  }

  &--violet{
    z-index: 0;
 
    &:before{
    background: rgba(131, 74, 252, 0.4);
      width: calc(100% - 22px);
      
      @include mobile{
        width: calc(100% - 12px); 
      }
  }
  }
  &--mode{
    &:before{
      border-radius: 12px;
      width: calc(100% - 24px);
    }
  }
}

.mobile-button{
  display: flex;
  align-items: center;
  min-width: 157px;
  grid-gap: 6px;
  justify-content: center;
  min-height: 50px;
  background: rgba(var(--bg-h),1.0);
  border-radius: 12px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-c),1.0);

}

.violet-text{
  font-size: inherit;
  font-family: inherit;
  color: rgba(var(--cl-d),1.0);
}

.status-btn{
  display: flex;
  align-items: center;
  grid-gap: 4px;
  color: rgba(var(--cl-f),1.0);
  background: rgba(var(--bg-l),1.0);
  border-radius: 70px;
  padding: 8px 12px;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  svg{
    fill:currentColor;  
  }


  &--cancel{
    color: rgba(var(--cl-h),1.0);
    background: rgba(var(--bg-m),1.0);
  }
}

.modal-button{
  display: flex;
  align-items: center;
  grid-gap: 7px;
  justify-content: center;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(18px, 2.182vw, 24px);
  line-height: 150%;
  text-transform: uppercase;
  color: rgba(var(--cl-a),1.0);
  background: linear-gradient(93.43deg, #834AFC 0%, #A175FF 100%);
  border-radius: 80px;
  padding: clamp(16px, 1.636vw, 18px) clamp(26px, 3.636vw, 40px);

  svg{
    fill:currentColor;  
  }
}

.flashing{
  @keyframes flash{
    0% {
      width: 20px;
      height: 20px;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 50px;
      height: 50px;
      opacity: 0;
    }
  }

  position: relative;
  z-index: 0;

  &:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    background-color: rgba(var(--bg-i),1.0);
    width: 20px;
    height: 20px;
    position: absolute;
    content: "";
    z-index: -1;
    border-radius: 50%;
    animation: flash 2.2s linear infinite;
  }

  

}